@model ParkingWeb.ViewModels.ParcheggioDetailsModel

@{
    ViewData["Title"] = Model.NomeParcheggio;
}

<div class="text-center">
    <h1 class="display-4">Progetto parcheggio Corso Software Developer E80 GROUP</h1>
    <p>Progetto sviluppato da 
    
        <p> Hoxha Blear</p>
    <hr />    
    <p> Nikolas Bedini</p>
    <hr />
    <p> Alessandro Rondanini</p>
    <hr />    
    <p> Elia Capiluppi</p>
    <hr />    
    <p> Youness Moussadek</p>
    </p>
</div>
