@model ParkingWeb.ViewModels.persone_detailParcheggio

@{
    ViewData["Title"] = "Proprietari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Proprietari Veicoli </h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nome
            </th>
            <th>
                Cognome
            </th>
            <th>
                Data Nascita
            </th>
            <th>
                Codice Fiscale Proprietario
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (ParkingWeb.Model.Person p  in Model.Persone) {
        <tr>
            <th>
                @p.Nome
            </th>
            <th>
                @p.Cognome
            </th>
            <th>
                @p.DataNascita.ToShortDateString()
            </th>
            <th>
                @p.CodiceFiscale
            </th>
            <td>
                <a href="http://localhost:34483/VisualizzaProprietario/@p.CodiceFiscale/@Model.ParcheggioDetailsModel.NomeParcheggio/True">
                    Visualizza veicoli
                </a>
                <br />
                <a href="http://localhost:34483/ModificaProprietario/@p.CodiceFiscale/@Model.ParcheggioDetailsModel.NomeParcheggio">
                    Modifica Persona
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
