<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>

		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->



		<target xsi:type="File" name="er" fileName="${basedir}/logs/${shortdate}-ERROR.log"
		layout="${longdate} ${message}" />
		<target xsi:type="File" name="r" fileName="${basedir}/logs/${shortdate}-REGISTRAZIONE_UTENTI.log"
		layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="p" fileName="${basedir}/logs/${shortdate}-REGISTRO_PARCHEGGI.log"
		layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="e" fileName="${basedir}/logs/${shortdate}-ECCEZIONI.log"
		layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="l" fileName="${basedir}/logs/${shortdate}-LOGIN_UTENTI.log"
		layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="t" fileName="${basedir}/logs/${shortdate}-REGISTRO_AUTO.log"
		layout="${longdate} ${uppercase:${level}} ${message}" />

	</targets>

	<rules>
		<!-- add your logging rules here -->

		<logger name="*" level="Fatal" writeTo="f"/>
		<logger name="*" level="Error" writeTo="er"/>
		<logger name="ParcheggioAPI.CreaUserController" level="Info" writeTo="r"/>
		<logger name="ParcheggioAPI.Controllers.LoginLogoutController" level="Info" writeTo="l"/>
		<logger name="ParcheggioAPI.Controllers.ControlloTargaController" level="Info" writeTo="t"/>
		<logger name="ParcheggioAPI.Controllers.EsciVeicoloController" level="Info" writeTo="t"/>
		<logger name="ParcheggioAPI.Controllers.InserimentoVeicoloController" level="Info" writeTo="t"/>
		<logger name="ParcheggioAPI.Controllers.ExistingParkingController" level="Info" writeTo="p"/>
	</rules>
</nlog>
